<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Portfolio - {% block title %} {% endblock title %}
        </title>
        {% block styles %}

            <!-- color scheme -->
           
            {% comment %} TODO TASK: 'enable color changes for portfolio' .time:2022-01-23  11:45:36 {% endcomment %}
        {% endblock styles %}
    </head>

    <body>
        {% block content %}

        {% endblock content %}
    </body>

        {% block script %}
        
        {% endblock script%}
</html>