<!-- section begin -->
<section id="section-services" class="fluid">
    <div class="container-fluid">
        <div class="row-fluid table">
            <div class="col-md-6 va-top">
                <div class="img-fx">
                    <img src='img/1.jpg' alt="">
                    <div class="img-url"></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="content-wrap">
                  <div id="wrapper" class="fullwidth no-padding">

                    <div id="bg-overlay"></div>
                    
                    <div id="main">
                                      
                    <!-- service box begin -->
                    <div class="feature-box mb30">
                        <div class="inner">
                            <div class="text">
                                <i class="icon_lightbulb id-color"></i>
                                <h3>Conceptual Design</h3> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                            </div>
                            <i class="big icon_lightbulb id-color"></i>
                        </div>
                    </div>
                    <!-- service box close -->

                    <!-- service box begin -->
                    <div class="feature-box mb30">
                        <div class="inner">
                            <div class="text">
                                <i class="icon_flowchart_alt id-color"></i>
                                <h3>Market Inteligence</h3> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                            </div>
                            <i class="big icon_flowchart_alt id-color"></i>
                        </div>
                    </div>
                    <!-- service box close -->

                    <!-- service box begin -->
                    <div class="feature-box mb30">
                        <div class="inner">
                            <div class="text">
                                <i class="icon_cogs id-color"></i>
                                <h3>Mechanical Engineering</h3> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                            </div>
                            <i class="big icon_cogs id-color"></i>
                        </div>
                    </div>
                    <!-- service box close -->

                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- section close -->