<!-- section begin -->
<section id="section-services" class="fluid">
    <div class="container-fluid">
        <div class="row-fluid table">
            <div class="col-md-6 va-top">
                <div class="img-fx">
                    <img src="images/misc/1.jpg" alt="">
                    <div class="img-url"></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="content-wrap">
                  <div id="wrapper" class="fullwidth no-padding">

                    <div id="bg-overlay"></div>
                    
                        <div id="main">
                
                    {% for service in services_info  %}
                    <!-- service box begin -->
                    <div class="feature-box mb30">
                        <div class="inner">
                            <div class="text">
                                <i class="icon_lightbulb id-color"></i>
                                <h3>{{service.Title}}</h3> {{service.Description}}
                            </div>
                            <i class="big icon_lightbulb id-color"></i>
                        </div>
                    </div>
                    <!-- service box close -->
                    {% endfor %}      

                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- section close -->
