<!-- section begin -->
<section id="section-experiences" class="fluid">
    <div class="container-fluid">
        <div class="row-fluid table">
            {% if personlization_info.Experience_background_picture_switch %}
            <div class="col-md-6 va-top">
                <div class="img-fx">
                    <img src="{{personlization_info.Experience_background_picture.url}}" alt="">
                    <div class="img-url"></div>
                </div>
            </div>
            {% else %}{% endif %}

            <div class="col-md-6">
                <div class="content-wrap">
                    <p class="lead">
                        {{experience_info.User_story}}
                    </p>

                    <div class="spacer30"></div>

                    <div class="de_tab tab_style_2">
                        <ul class="de_nav">
                            <li class="active">
                                <span>Works</span>
                            </li>
                            <li>
                                <span>Education</span>
                            </li>
                        </ul>

                        <div class="de_tab_content text-left">

                            <div class="tab_single_content">
                                {% for work in experience_info_work %}
                                <div class="exp-box">
                                    <h5>{{work.Start_date}} - now</h5> #TODO TASK: 'implement the now to change based on end date given' .time:2022-02-02  04:08:17
                                    <h4>{{work.Title}}</h4>
                                    <p>{{work.Description}}</p>
                                </div>
                                {% endfor %}  
                            </div>

                            <div class="tab_single_content">
                                {% for edu in experience_info_education %}
                                <div class="exp-box">
                                    <h5>{{edu.Year_of_graduation}}</h5>
                                    <h4>{{edu.Degree_awarded}}</h4>
                                    <p>{{edu.Description}}</p>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- section close -->
