<!-- section begin -->
<section id="section-contact" class="fluid">
    <div class="container-fluid">
        <div class="row-fluid table">
            <div class="col-md-6 va-top">
                <div class="img-fx">
                    <img src="images/misc/4.jpg" alt="">
                    <div class="img-url"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-wrap">
                    <div class="in-box">
                        <ul class="data">
                            <li>
                                <div>E-mail</div>
                                <div>contact@jonnasatria.com</div>
                            </li>
                            <li>
                                <div>Phone</div>
                                <div>(208) 333 9296</div>
                            </li>
                            <li>
                                <div>Website</div>
                                <div>www.mywebsite.com</div>
                            </li>
                            <li>
                                <div>Address</div>
                                <div>Collins Street West, London, UK</div>
                            </li>
                        </ul>
                    </div>

                    <div class="spacer60"></div>

                    <h3>Send message</h3>
                    <div class="spacer20"></div>
                    <form name="contactForm" id='contact_form' class="form-transparent" method="post" action='email.php'>

                        <div class="field-set">
                            <input type='text' name='name' id='name' class="form-control" placeholder="Your Name">
                            <div class="line-fx"></div>
                        </div>

                        <div class="field-set">
                            <input type='text' name='email' id='email' class="form-control" placeholder="Your Email">
                            <div class="line-fx"></div>
                        </div>

                        <div class="field-set">
                            <input type='text' name='phone' id='phone' class="form-control" placeholder="Your Phone">
                            <div class="line-fx"></div>
                        </div>

                        <div class="field-set">
                            <textarea name='message' id='message' class="form-control" placeholder="Your Message"></textarea>
                            <div class="line-fx"></div>
                        </div>

                        <div id='submit'>
                            <input type='submit' id='send_message' value='Send' class="btn btn-custom">
                        </div>
                        <div id='mail_success' class='success'>Your message has been sent successfully.
                        </div>
                        <div id='mail_fail' class='error'>Sorry, error occured this time sending your message.</div>

                    </form>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- section close -->
