<!-- section begin -->
<section id="section-experiences" class="fluid">
    <div class="container-fluid">
        <div class="row-fluid table">
            {% if personlization_info.Experience_background_picture_switch %}
            <div class="col-md-6 va-top">
                <div class="img-fx">
                    <img src="images/misc/2.jpg" alt="">
                    <div class="img-url"></div>
                </div>
            </div>
            {% else %}{% endif %}

            <div class="col-md-6">
                <div class="content-wrap">
                    <p class="lead">
                        {{experience_info.User_story}}
                    </p>

                    <div class="spacer30"></div>

                    <div class="de_tab tab_style_2">
                        <ul class="de_nav">
                            <li class="active">
                                <span>Works</span>
                            </li>
                            <li>
                                <span>Education</span>
                            </li>
                        </ul>

                        <div class="de_tab_content text-left">

                            <div class="tab_single_content">
                                {}
                                <div class="exp-box">
                                    <h5>2014 - now</h5>
                                    <h4>Product Designer Freelancer</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                                </div>
                                <div class="exp-box">
                                    <h5>2010 - 2014</h5>
                                    <h4>Product Designer at Apple</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
                                </div>
                                <div class="exp-box">
                                    <h5>2006 - 2010</h5>
                                    <h4>Product Designer at Samsung</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
                                </div>
                            </div>

                            <div class="tab_single_content">
                                <div class="exp-box">
                                    <h5>2014</h5>
                                    <h4>Product Design, Harvard University</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                                </div>
                                <div class="exp-box">
                                    <h5>2010</h5>
                                    <h4>Master of Design, University of California</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
                                </div>
                                <div class="exp-box">
                                    <h5>2006</h5>
                                    <h4>Bachelor of Arts, Standford University</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- section close -->
